<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <div *ngIf="lastResult" id="last_result_status">
            Last check: <span style="color: green" *ngIf="lastResult.status == 'ok'">Ok</span> <span style="color: red" *ngIf="lastResult.status != 'ok'">Error</span>
            <div class="mdl-tooltip" for="last_result_status">{{lastResult.date_request | date:'medium'}}</div>
        </div>
        <dateSelector></dateSelector>
        <resultList (onSelected)="onSelected($event)"></resultList>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div *ngIf="selectedResult" style="mdl-shadow--2dp">
            <fieldset>
                <legend>Check details</legend>

            </fieldset>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>